.projectList > table {
  border-collapse: separate;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  background: rgb(1, 34, 73);
}
.projectList > table > th {
  padding: 10px;
  text-align: center;
  background: rgb(23, 116, 223);
  font-weight: 800;
}

.projectList > table > tr:nth-child(odd) {
  background-color: rgb(250, 250, 250);
}

.projectList > table > tr:nth-child(even) {
  background-color: rgb(200, 233, 255);
}

.projectList > table > tr > td {
  text-align: center;
  padding: 5px;
  font-size: 15px;
}
.projectList > table > tr:hover {
  background: rgb(92, 168, 255);
}

.btn {
  text-decoration: none;
}
