.projectList > table {
  border-collapse: separate;
  border: 1px solid black;
  border-radius: 10px;
  width: 100%;
  background: rgb(1, 34, 73);
}
.projectList > table > th {
  padding: 10px;
  text-align: center;
  background: rgb(23, 116, 223);
  font-weight: 800;
}

.projectList > table > tr {
  background-color: rgb(174, 223, 255);
  border-left: 10px;
  border-right: 10px;
}

.projectList > table > tr > td {
  text-align: center;
  padding: 10px;
}
.projectList > table > tr:hover {
  background: rgb(92, 168, 255);
}

.btn {
  text-decoration: none;
}
